apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "lobstertank.fullname" . }}-config
  labels:
    {{- include "lobstertank.labels" . | nindent 4 }}
data:
  LT_DB_DRIVER: {{ .Values.config.dbDriver | quote }}
  LT_DB_DSN: {{ .Values.config.dbDSN | quote }}
  LT_AUTH_PROVIDER: {{ .Values.config.authProvider | quote }}
  LT_SECRETS_PROVIDER: {{ .Values.config.secretsProvider | quote }}
  LT_TRANSPORT_DEFAULT: {{ .Values.config.transportDefault | quote }}
  LT_AUDIT_ENABLED: {{ .Values.config.auditEnabled | quote }}
  LT_AUDIT_OUTPUT: {{ .Values.config.auditOutput | quote }}
  {{- if eq .Values.config.secretsProvider "vault" }}
  LT_SECRETS_VAULT_ADDR: {{ .Values.vault.addr | quote }}
  LT_SECRETS_VAULT_MOUNT: {{ .Values.vault.mountPath | quote }}
  {{- end }}
